body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

#console {
  width: 100%;
  height: 100%;
  overflow: auto;
  word-wrap: break-word;
  font-size: 16px;
  font-family: monospace;
}

/* web3 auth */

.w3a-parent-container #w3a-modal {
  font-family: "DM Sans", sans-serif !important;
}

.w3a-modal__inner {
  min-height: auto !important;
}

.w3a-group--passwordless {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
